.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.appoinment-section tr,
.appoinment-section td,
.appoinment-section th {
  border: 2px solid black;
  padding: 10px;
}

.appoinment-section{
  /* justify-content: space-between; */
  padding: 20px;
}

.appoinment-section th{
  justify-content: center;
}

.prince-style{
  padding: 10px;
}

.googlebutton{
  width: 25px;
  height: 25px;
  cursor: pointer;
  
}

/* .center-button{
  display: flex;
  align-items: center;
  justify-content: center;
} */